.header-work {
    background-color: #000000;
}
.header-wposition {
    display: table;
    width: 100%;
    min-height: 100vh;
}
.header-wcontent {
    display: table-cell;
    width: 100%;
    padding: 30px 15px;
    vertical-align: middle;
}
.header-wnote {
    font-family: SolomonSans-Light;
    color: #FFFFFF;
    font-size: 14px;
}
.header-wtext {
    font-family: SolomonSans-Black;
    color: #FFFFFF;
    font-size: 40px;
    width: 767px;
    max-width: 100%;
    line-height: 120%;
}
.header-wborder {
    width: 300px;
    max-width: 100%;
    border-top: solid 3px #23b78e;
    margin: 20px 0 0 0;
}
.section-about {
    padding: 30px 0;
}
.part-about {
    padding: 0 15px;
}
.about-head {
    padding: 30px 0;
    font-family: SolomonSans-Black;
    color: #000000;
    font-size: 40px;
    width: 767px;
    max-width: 100%;
    line-height: 110%;
}
.container-about {
    width: 991px;
    max-width: 100%;
    margin: 0 auto;
}
.about-desc {
    font-family: SolomonSans-Book;
    color: #000000;
    line-height: 140%;
    width: 500px;
    max-width: 100%;
    font-size: 15px;
    margin-bottom: 30px;
}
.btn-acontact {
    font-family: SolomonSans-Book;
    display: inline-block;
    width: 200px;
    max-width: 100%;
    padding: 8px 20px;
    color: #212c41;
    border: solid 2px #212c41;
    font-size: 15px;
    text-align: center;
}
.btn-acontact:hover,.btn-acontact:focus,.btn-acontact:active {
    color: #ffffff;
    background-color: #212c41;
}
.about-contact {
    margin-bottom: 30px;
}
.part-about-client {
    padding: 30px 15px;
}
.aclient-head {
    margin-bottom: 30px;
}
.aclient-head span {
    font-family: SolomonSans-Black;
    color: #000000;
    font-size: 35px;
    display: block;
    line-height: 110%;
}
.aclient-head hr {
    border-top: solid 3px #23b78e;
    width: 150px;
    display: inline-block;
    margin: 5px 0 0 0 !important;
}
.sclient-image {
    display: block;
    padding: 015px;
}
.sclient-image > a {
    display: block;
    padding-bottom: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.client-slider {
    padding: 20px 30px;
}
.team-row {
    padding: 30px 0;
    display: table;
    width: 100%;
}
.team-col {
    display: inline-block;
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
    vertical-align: top;
}
.part-team-client .aclient-head {
    padding: 0 15px;
}
.team-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    margin: 0 auto 10px auto;
    border-radius: 100%;
    width: 180px;
    height: 180px;
    max-width: 100%;
}
.team-warp {
    max-width: 100%;
    margin: 0 auto;
}
.team-name {
    font-family: SolomonSans-Black;
    color: #000000;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3px;
}
.team-job {
    font-family: SolomonSans-Book;
    color: #000000;
    text-align: center;
    font-size: 14px;
}
@media(max-width: 767px){
    .header-wnote {
        font-size: 12px;
    }
    .header-wtext {
        font-size: 30px;
        width: 500px;
        max-width: 100%;
    }
    .header-wborder {
        width: 200px;
        max-width: 100%;
    }
    .team-col {
        width: 50%;
    }
    .about-head {
        font-size: 30px;
    }
    .aclient-head span {
        font-size: 30px;
    }
    .aclient-head hr {
        width: 120px;
    }
}
@media(max-width: 500px){
    .header-wtext {
        width: auto;
        font-size: 22px;
    }
    .team-col {
        width: 100%;
    }
    .about-head {
        font-size: 25px;
    }
    .aclient-head span {
        font-size: 25px;
    }
    .aclient-head {
        text-align: center;
        margin-bottom: 0;
    }
    .part-about-client {
        padding: 20px 15px;
    }
}