@font-face {
  font-family: "SolomonSans-Black";
  src:  url('../fonts/SolomonSans/SolomonSans-Black.otf');
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "SolomonSans-BlackItalic";
  src:  url('../fonts/SolomonSans/SolomonSans-BlackItalic.otf');
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "SolomonSans-Bold";
  src:  url('../fonts/SolomonSans/SolomonSans-Bold.otf');
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "SolomonSans-BoldItalic";
  src:  url('../fonts/SolomonSans/SolomonSans-BoldItalic.otf');
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "SolomonSans-Book";
  src:  url('../fonts/SolomonSans/SolomonSans-Book.otf');
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "SolomonSans-BookItalic";
  src:  url('../fonts/SolomonSans/SolomonSans-BookItalic.otf');
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "SolomonSans-Light";
  src:  url('../fonts/SolomonSans/SolomonSans-Light.otf');
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "SolomonSans-LightItalic";
  src:  url('../fonts/SolomonSans/SolomonSans-LightItalic.otf');
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "SolomonSans-Normal";
  src:  url('../fonts/SolomonSans/SolomonSans-Normal.otf');
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "SolomonSans-NormalItalic";
  src:  url('../fonts/SolomonSans/SolomonSans-NormalItalic.otf');
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "SolomonSans-SemiBold";
  src:  url('../fonts/SolomonSans/SolomonSans-SemiBold.otf');
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "SolomonSans-SemiBoldItalic";
  src:  url('../fonts/SolomonSans/SolomonSans-SemiBoldItalic.otf');
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "SolomonSans-Thin";
  src:  url('../fonts/SolomonSans/SolomonSans-Light.otf');
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "SolomonSans-ThinItalic";
  src:  url('../fonts/SolomonSans/SolomonSans-Light.otf');
  -webkit-font-smoothing: antialiased;
}