body{
    overflow-x: hidden;
}
/*START NAVIGATION CSS*/
.desktop-navigation{
    background-color: #FAFAFA;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    display: none;
}
.desktop-list {
    margin: 0;
    padding: 20px 0;
    text-align: right;
    padding-right: 180px;
}
.desktop-list > li {
    display: inline-block;
    margin-left: 30px;
}
.desktop-link {
    font-family: SolomonSans-Black;
    color: #000000;
    font-size: 21px;
    border-bottom: solid 2px transparent;
    padding: 3px 0;
}
.desktop-active{
    border-color: #22b78e;
    color: #22b78e;
}
.desktop-link:hover,.desktop-link:focus,.desktop-link:active {
    border-color: #22b78e;
    color: #22b78e;
}
.desktop-button {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}
.container-navigation {
    position: relative;
    width: 1300px;
    margin: 0 auto;
    max-width: 100%;
}
.desktop-navbutton > a {
    display: inline-block;
    margin: 0 5px;
    width: 45px;
    height: 45px;
    position: relative;
}
.desktop-navbutton > a > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.desktop-navbutton {
    position: absolute;
    top: 13px;
    right: 15px;
}
.mobile-tools {
    padding: 5px 0;
    border-bottom: solid 2px #000;
}
.row-tools {
    display: table;
    width: 100%;
}
.col-tools {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    padding: 0 15px;
}
.col-tools:last-child {
    width: 40%;
    text-align: right;
}
.logo-mobile {
    display: inline-block;
}
.logo-mobile > img {
    height: 50px;
    max-width: 100%;
}
.btn-menu {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: relative;
    margin: 5px 0 0 0;
}
.btn-menu > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.mob-link {
    font-family: SolomonSans-Bold;
    padding: 6px 15px;
    display: block;
    border-bottom: solid 1px #000;
    color: #000000;
}
.mobile-menu > ul {
    margin: 0;
    padding: 0;
}
.mobile-menu > ul > li {
    display: block;
}
.mobile-menu > ul > li:last-child > a {
    border: 0;
}
.mobile-menu {
    display: none;
    border-bottom: solid 2px #000000;
}
.mob-link:hover,.mob-link:focus,.mob-link:active {
    color: #22b78e;
}
.mobile-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #FFFFFF;
}
.mobile-gap{
    height: 60px;
}
@media(max-width: 991px){
    .desktop-link {
        font-size: 18px;
    }
    .desktop-list > li {
        margin-left: 0;
        margin-right: 20px;
    }
    .desktop-list {
        padding-left: 15px;
        text-align: left;
        padding-right: 100px;
    }
    .desktop-navbutton {
        right: 15px;
        top: 10px;
    }
}
/*END NAVIGATION CSS*/
/*START HOME HEADER CSS*/
.section-header {
    position: relative;
    display: table;
    width: 100%;
    background-color: #000000;
}
.header-logo {
    display: table-cell;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    height: 100vh;
    padding: 0 15px;
}
.header-logo > a {
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.35;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.header-logo a:hover {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.header-logo img {
    height: 100px;
}
.header-link {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 50px;
    text-align: center;
    padding: 0 15px;
}
.header-link > a {
    color: #FFFFFF;
    border: solid 1px #FFFFFF;
    padding: 12px 30px;
    display: inline-block;
    font-family: SolomonSans-Light;
    font-size: 14px;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.header-link > a:hover{
    background-color: #FFFFFF;
    color: #000000;
}
/*END HOME HEADER CSS*/
/*START HOME SECTION ABOUT EANNOVATE CSS*/
.section-eannovate {
    background-color: #FFFFFF;
    padding: 100px 0;
}
.row-se {
    display: table;
    width: 100%;
}
.col-se-left {
    width: 45%;
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px;
}
.col-se-right {
    display: table-cell;
    vertical-align: middle;
    width: 55%;
    padding: 0 15px;
}
.se-wrap {
    position: relative;
    padding: 30px;
}
.se-bg {
    position: absolute;
    height: 100%;
    width: 40%;
    top: 0;
    left: 0;
    background-color: #F6F8F8;
    z-index: 1;
}
.se-content {
    position: relative;
    z-index: 2;
}
.se-content .title {
    color: #000000;
    font-family: SolomonSans-Black;
    font-size: 25px;
    margin-bottom: 15px;
    padding: 0 15px;
}
.se-content .desc {
    font-family: SolomonSans-Book;
    font-size: 15px;
    color: #606060;
    margin-bottom: 30px;
    padding: 0 15px;
}
.se-link {
    display: table;
    width: 100%;
}
.col-selink {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    padding: 0 15px;
}
.se-learnmore > a {
    display: block;
    text-align: center;
    padding: 10px 12px;
    border: solid 1px #606060;
    color: #606060;
    font-family: SolomonSans-Light;
}
.se-learnmore > a:hover,.se-learnmore > a:focus,.se-learnmore > a:active{
    color:#FFFFFF;
    background-color:#606060;
}
.se-sosmed > a {
    display: inline-block;
    margin-right: 15px;
}
.se-sosmed > a > img {
    height: 20px;
}
.se-solution-wrap {
    background-color: #000;
    padding: 30px;
}
.se-sol-wrap {
    display: table;
    width: 100%;
    padding: 20px 0;
}
.se-sol-img {
    display: inline-block;
    vertical-align: middle;
    width: 40%;
    text-align: center;
}
.se-sol-title {
    display: inline-block;
    vertical-align: bottom;
    width: 60%;
    font-family: SolomonSans-Book;
    color: #FFFFFF;
    padding: 0 5px;
    font-size: 13px;
}
.se-sol-img > img {
    max-width: 100%;
    height: 50px;
}
.sol-left-side {
    text-align: left;
    padding: 30px 0;
}
.sol-right-side {
    text-align: right;
    padding: 30px 0;
}
.se-sol-center > img {
    width: 50px;
}
.sol-center-side {
    width: 30%;
    text-align: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.se-sol-wrap:hover > .se-sol-title {
    color: #22b78e;
}
.sol-push-left {
    position: relative;
    right: -50px;
}
.sol-push-right {
    position: relative;
    right: 50px;
}
.solution-mbox {
    background-color: #000;
}
.solution-mlink {
    display: table-cell;
    border-bottom: solid 1px #22b78e;
    padding: 0 15px 0 70px;
    position: relative;
    height: 55px;
    vertical-align: middle;
    width: 100%;
}
.solution-mtitle {
    font-family: SolomonSans-Bold;
    color: #FFF;
    font-size: 16px;
}
.solution-mimage img {
    height: 35px;
}
.solution-mimage {
    position: absolute;
    top: 10px;
    left: 15px;
}
.solution-mwrap {
    display: table;
    width: 100%;
}
.solution-mlink:hover,.solution-mlink:focus,.solution-mlink:active {
    background-color: #FFFFFF;
}
.solution-mlink:hover > .solution-mtitle, .solution-mlink:focus > .solution-mtitle, .solution-mlink:active > .solution-mtitle {
    color: #22b78e;
}
/*END HOME SECTION ABOUT EANNOVATE CSS*/
/*START HOME SECTION CREATE IDEA CSS*/
.section-idea {
    background-color: #212C41;
    padding: 100px 0;
}
.si-text {
    color: #FFFFFF;
    font-size: 50px;
    padding: 0 15px;
    font-family: SolomonSans-Black;
    width: 900px;
    max-width: 100%;
}
.si-border {
    padding: 0 15px;
}
.si-border hr {
    border-top: solid 5px #23B68D;
    width: 200px;
    margin: 30px 0 0 0;
}
/*END HOME SECTION CREATE IDEA CSS*/
/*START HOME SECTION CLIENT CSS*/
.row-client {
    display: table;
    width: 100%;
}
.col-client-left {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}
.ssclient-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
}
.col-client-right {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}
.ssclient-slide {
    width: 100% !important;
}
.sclient-head {
    font-family: SolomonSans-Black;
    font-size: 30px;
    text-transform: uppercase;
    color: #000000;
}
.sclient-border > hr {
    width: 250px;
    margin: 10px 0 0 0 !important;
    border-top: solid 4px #23b68d;
    max-width: 100%;
}
.sclient-wrap {
    padding: 0 40px;
}
.section-client {
    padding: 100px 0 0 0;
}
/*END HOME SECTION CLIENT CSS*/
/*START HOME SECTION PROJECT CSS*/
.row-project {
    display: table;
    width: 100%;
}
.col-project-left {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}
.ssproject-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
}
.col-project-right {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}
.ssproject-slide {
    width: 100% !important;
}
.sproject-head {
    font-family: SolomonSans-Black;
    font-size: 30px;
    text-transform: uppercase;
    color: #000000;
}
.sproject-border{
    text-align: right;
}
.sproject-border > hr {
    width: 250px;
    margin: 10px 0 0 0 !important;
    border-top: solid 4px #23b68d;
    max-width: 100%;
    display: inline-block;
}
.sproject-wrap {
    padding: 0 40px;
    text-align: right;
}
.section-project {
    padding: 0 0 100px 0;
}
.sproject-desc-wrap{
    max-width: 100%;
    display: table;
    width: 100%;
}
.sproject-desc {
    font-family: SolomonSans-Book;
    color: #000000;
    font-size: 16px;
    width: 450px;
    max-width: 100%;
    margin: 20px 0;
    float: right;
}
.sproject-link {
    float: right;
    display: block;
}
.sproject-link > a {
    display: inline-block;
}
.sproject-link > a >img {
    width: 30px;
}
.spcontent-slide{
    width: 100% !important;
}
.section-icon {
    padding: 150px 0;
}
.middle-icon {
    padding: 0 15px;
    text-align: center;
}
.middle-icon > img {
    width: 100px;
}
/*END HOME SECTION PROJECT CSS*/
/*START HOME SECTION MARKET CSS*/
.section-market {
    background-color: #212C41;
    padding: 100px 0;
}
.sm-text {
    color: #FFFFFF;
    font-size: 50px;
    padding: 0 15px;
    font-family: SolomonSans-Black;
    width: 900px;
    max-width: 100%;
}
.sm-note {
    font-family: SolomonSans-Book;
    color: #FFFFFF;
    font-size: 20px;
    padding: 0 15px;
    margin-bottom: 5px;
}
.sm-link {
    padding: 0 15px;
    margin: 30px 0 0 0;
}
.sm-link > a {
    background-color: #23B78E;
    padding: 10px 12px;
    border: solid 1px #23b78e;
    display: inline-block;
    width: 200px;
    text-align: center;
    max-width: 100%;
    color: #FFFFFF;
    font-family: SolomonSans-Light;
    font-size: 16px;
}
.sm-link > a:hover,.sm-link > a:focus,.sm-link > a:active {
    color: #23b78e;
    background-color: #212c41;
}
/*END HOME SECTION MARKET CSS*/
/*START HOME SECTION CREATOR CSS*/
.sc-text {
    font-size: 50px;
    padding: 0 15px;
    font-family: SolomonSans-Black;
    width: 900px;
    max-width: 100%;
    text-transform: uppercase;
}
.section-creator {
    padding: 100px 0;
}
.sc-border {
    padding: 0 15px;
}
.sc-border hr {
    border-top: solid 5px #23B68D;
    width: 200px;
    margin: 30px 0 0 0;
}
/*END HOME SECTION CREATOR CSS*/
/*START HOME SECTION NEWS CSS*/
.sn-warp {
    width: 991px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}
.row-sn {
    display: table;
    width: 100%;
}
.col-sn {
    display: inline-block;
    width: 50%;
    padding: 0 15px;
    margin-bottom: 30px;
}
.sn-bg {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 55%;
    box-shadow: inset 0px -60px 150px 30px rgba(0,0,0,0.6);
}
.col-sn-first .sn-bg{
    padding-bottom: 45%;
}
.col-sn-first {
    width: 100%;
}
.sn-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
}
.sn-title {
    color: #FFFFFF;
    font-family: SolomonSans-SemiBold;
    font-size: 15px;
    margin-bottom: 3px;
}
.sn-desc {
    color: #FFFFFF;
    font-family: SolomonSans-Book;
    font-size: 14px;
}
.sn-read {
    font-family: SolomonSans-Book;
    color: #23b78e;
}
.sn-read:hover,.sn-read:focus,.sn-read:active{
    color: #23b78e;
    text-decoration:underline !important;
}
.sn-category {
    color: #FFFFFF;
    font-family: SolomonSans-Book;
    font-size: 13px;
    text-align: right;
}
.col-sn-first .sn-title {
    font-size: 20px;
}
.col-sn-first .sn-desc {
    font-size: 15px;
}
.col-sn-first .sn-category {
    font-size: 16px;
}
.sn-head {
    position: absolute;
    top: 10%;
    left: -70px;
    z-index: 3;
}
.sn-head .title {
    background-color: rgba(35, 182, 141, 0.5);
    font-family: SolomonSans-Black;
    color: #000000;
    padding: 30px 15px 10px 15px;
    font-size: 20px;
}
.sn-more {
    text-align: center;
    margin: 30px 0;
    padding: 0 15px;
}
.sn-more > a {
    display: inline-block;
    padding: 8px 12px;
    width: 200px;
    max-width: 100%;
    border: solid 2px #212c41;
    color: #212c41;
    font-family: SolomonSans-Book;
}
.sn-more > a:hover{
    background-color: #212c41;
    color: #FFFFFF;
}
/*END HOME SECTION NEWS CSS*/
/*START FOOTER CSS*/
.section-footer{
    margin: 50px 0 0 0;
}
.footer-wrap {
    background-color: #212C41;
    padding: 100px 0 50px 0;
}
.footer-head {
    padding: 0 15px;
}
.footer-head .top {
    color: #FFFFFF;
    font-family: SolomonSans-Light;
    font-size: 25px;
}
.footer-head a {
    font-family: SolomonSans-Black;
    color: #FFFFFF;
    font-size: 45px;
    unicode-bidi: bidi-override;
    direction: rtl;
}
.footer-border {
    padding: 0 15px;
    margin-bottom: 50px;
}
.footer-border hr {
    width: 250px;
    margin: 20px 0 !important;
    border-top: solid 4px #23b78e;
}
.footer-flag {
    text-align: left;
}
.footer-flag img {
    height: 40px;
    margin-bottom: 30px;
}
.footer-address {
    font-family: SolomonSans-Book;
    color: #FFFFFF;
    font-size: 15px;
    margin-bottom: 15px;
}
.footer-phone {
    color: #FFFFFF;
    font-family: SolomonSans-Book;
    margin-bottom: 20px;
}
.footer-working-wrap {
    position: relative;
    padding-left: 55px;
}
.footer-working-head {
    font-family: SolomonSans-Bold;
    color: #FFFFFF;
    font-size: 20px;
    padding: 7px 0 0 0;
    margin-bottom: 30px;
}
.footer-working-desc {
    font-family: SolomonSans-Book;
    color: #FFFFFF;
    font-size: 15px;
    margin-bottom: 20px;
}
.footer-working-img {
    position: absolute;
    top: 0;
    left: 5px;
}
.footer-working-img img {
    height: 40px;
}
.footer-copyright {
    background-color: #2B2E34;
    padding: 20px 0;
}
.copyright-text {
    color: #909194;
    font-family: SolomonSans-Book;
    font-size: 14px;
}
.footer-social {
    text-align: right;
    padding: 7px 0;
}
.footer-social a {
    display: inline-block;
    margin-left: 20px;
}
.footer-social img {
    height: 25px;
}
/*END FOOTER CSS*/
@media(max-width: 991px){
    .header-link {
        bottom: 80px;
    }
    .col-se-left {
        width: 100%;
        display: block;
    }
    .col-se-right {
        display: block;
        width: 100%;
    }
    .row-se {
        display: block;
        width: 100%;
    }
    .se-bg {
        width: 100%;
    }
    .section-eannovate {
        padding: 30px 0;
    }
    .si-text {
        font-size: 40px;
    }
    .section-idea {
        padding: 70px 0;
    }
    .header-logo img {
        max-width: 100%;
        height: auto;
        width: 400px;
    }
    .section-client {
        padding: 50px 0 0 0;
    }
    .row-client {
        display: block;
    }
    .col-client-left {
        display: block;
        width: 100%;
    }
    .col-client-right {
        display: block;
        width: 100%;
    }
    .ssclient-image {
        height: 350px;
    }
    .sclient-wrap {
        padding: 0 15px;
        margin-bottom: 20px;
    }
    .row-project {
        margin: 20px 0 0 0;
        display: block;
    }
    .col-project-left {
        display: block;
        width: 100%;
    }
    .sproject-head {
        text-align: left;
    }
    .sproject-border {
        text-align: left;
    }
    .sproject-desc-wrap {
        display: block;
    }
    .sproject-desc {
        float: none;
        text-align: left;
        width: 100%;
    }
    .col-project-right {
        display: block;
        width: 100%;
    }
    .ssproject-image {
        height: 350px;
    }
    .sproject-link {
        float: none;
        text-align: left;
        margin-bottom: 15px;
    }
    .sproject-wrap {
        padding: 0 15px;
        text-align: left;
    }
    .sm-text {
        font-size: 40px;
    }
    .section-market {
        padding: 70px 0;
    }
    .sc-text {
        font-size: 40px;
    }
    .section-creator {
        padding: 70px 0;
    }
    .sn-head {
        position: inherit;
        left: 0;
        top: 0;
        padding: 0 15px;
    }
    .sn-head .title {
        padding: 10px 15px;
    }
    .col-sn {
        display: block;
        width: 100%;
    }
    .section-icon {
        padding: 70px 0;
    }
    .section-project {
        padding: 0;
    }
    .sn-title {
        font-size: 16px !important;
    }
    .sn-desc {
        font-size: 14px !important;
    }
    .sn-category {
        font-size: 14px !important;
    }
}
@media(max-width: 767px){
    .header-logo img {
        width: 300px;
        padding: 0 15px;
    }
    .header-link > a {
        font-size: 11px;
        padding: 12px 20px;
    }
    .se-wrap {
        padding: 15px 0;
    }
    .si-text {
        font-size: 25px;
    }
    .section-idea {
        padding: 50px 0;
    }
    .sclient-head {
        font-size: 25px;
    }
    .sproject-head {
        font-size: 25px;
    }
    .sproject-desc {
        font-size: 14px;
    }
    .ssproject-image {
        height: 300px;
    }
    .ssclient-image {
        height: 300px;
    }
    .sm-text {
        font-size: 25px;
    }
    .sm-note {
        font-size: 15px;
    }
    .section-market {
        padding: 50px 0;
    }
    .section-creator {
        padding: 50px 0;
    }
    .sc-text {
        font-size: 25px;
    }
    .footer-head{
        text-align: center;
    }
    .footer-head a {
        font-size: 22px;
    }
    .footer-head .top {
        font-size: 18px;
    }
    .footer-wrap {
        padding: 50px 0 30px 0;
    }
    .footer-border {
        margin-bottom: 30px;
        text-align: center;
    }
    .footer-flag img {
        margin-bottom: 10px;
    }
    .footer-working-img {
        display: none;
    }
    .footer-working-wrap {
        padding-left: 0;
    }
    .footer-working-head {
        margin-bottom: 10px;
    }
    .footer-border hr {
        margin: 8px 0 10px 0 !important;
        display: inline-block;
    }
    .copyright-text {
        font-size: 13px;
        text-align: center;
        margin-bottom: 5px;
    }
    .footer-social {
        text-align: center;
    }
    .footer-social a {
        margin: 0 10px;
    }
    .footer-social img {
        height: 20px;
    }
    .footer-copyright {
        padding: 10px 0;
    }
    .footer-flag {
        text-align: center;
    }
    .footer-address {
        text-align: center;
        margin-bottom: 5px;
    }
    .footer-phone {
        text-align: center;
    }
    .footer-working-head {
        text-align: center;
    }
    .footer-working-desc {
        text-align: center;
    }
}
/*START MODAL CONTACT CSS*/
.cmodal-dialog {
    border-radius: 0 !important;
}
.cmodal-dialog {
    width: 400px;
}
.cmodal-body {
    background-color: #000000;
    padding: 40px;
}
.cmodal-head {
    font-family: SolomonSans-Black;
    color: #FFFFFF;
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 3px;
}
.cmodal-note {
    font-family: SolomonSans-Book;
    color: #FBFBFB;
    margin-bottom: 20px;
}
.cmodal-content {
    margin-bottom: 15px;
}
.cmodal-input {
    border: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none !important;
    outline: none !important;
    border-bottom: solid 2px #23b78e !important;
    padding: 8px 0;
}
.cmodal-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family : SolomonSans-BookItalic;
    color: #6A6A6A;
    
}
.cmodal-input::-moz-placeholder { /* Firefox 19+ */
    font-family : SolomonSans-BookItalic;
    color: #6A6A6A;
}
.cmodal-input:-ms-input-placeholder { /* IE 10+ */
    font-family : SolomonSans-BookItalic;
    color: #6A6A6A;
}
.cmodal-input:-moz-placeholder { /* Firefox 18- */
    font-family : SolomonSans-BookItalic;
    color: #6A6A6A;
}
.cmodal-submit {
    margin: 20px 0 0 0;
}
.btn-submit {
    background-color: transparent;
    color: #23b78e;
    font-family: SolomonSans-Bold;
    border: solid 2px #23b78e;
    border-radius: 0;
    display: block;
    font-size: 15px;
    width: 100%;
}
.btn-submit:hover,.btn-submit:focus,.btn-submit:active {
    background-color: #23b78e;
    color: #FFFFFF;
}
.error-cinput {
    border-color: #f93f3f !important;
}
.error-text{
    color: #f93f3f !important;
    font-family : SolomonSans-BookItalic;
    font-size: 13px;
    margin: 3px 0;
    display: none;
}
/*END MODAL CONTACT CSS*/