.header-dnposition {
    display: table;
    width: 100%;
    min-height: 400px;
}
.header-dnews {
    background-color: #000000;
}
.header-dncontent {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}
.header-dncategory {
    text-align: center;
    font-family: SolomonSans-Book;
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 15px;
}
.header-dntitle {
    text-align: center;
    font-family: SolomonSans-Black;
    color: #FFFFFF;
    font-size: 40px;
    width: 600px;
    max-width: 100%;
    margin: 0 auto 20px auto;
    line-height: 110%;
}
.header-dnwriter {
    text-align: center;
    font-family: SolomonSans-Book;
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 15px;
}
.header-dnwriter span {
    font-family: SolomonSans-Bold;
}
.dnews-back {
    padding: 40px 15px;
}
.dnews-back > a {
    display: inline-block;
    font-family: SolomonSans-SemiBold;
    color: #333333;
    font-size: 20px;
}
.dnews-back > a > img {
    height: 20px;
    margin-right: 10px;
    position: relative;
    top: -2px;
}
.dnews-back > a:hover,.dnews-back > a:focus,.dnews-back > a:active {
    color: #22b78e;
}
.dnews-image > img {
    width: 100%;
}
.dnews-image {
    margin-bottom: 40px;
}
.container-dnews {
    width: 767px;
    max-width: 100%;
    margin: 0 auto;
}
.dnews-desc {
    color: #1C1C1C;
    font-family: SolomonSans-Book;
    text-align: justify;
    font-size: 14px;
    margin-bottom: 40px;
    padding: 0 15px;
}
.dnews-desc img {
    max-width: 100%;
    width: 100%;
}
.dnews-desc iframe {
    max-width: 100%;
}
.eads-border {
    padding: 0 45px;
}
.eads-border hr {
    border-top: solid 2px #A2A5A6;
    margin: 0 !important;
}
.eads-row {
    display: table;
    width: 100%;
    padding: 25px 0;
}
.eads-col-img {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    padding: 0 15px;
}
.eads-col {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    padding: 0 15px;
}
.eads-col-img > a {
    display: block;
}
.eads-col-img > a > img {
    max-width: 100%;
}
.eads-desc {
    color: #1C1C1C;
    font-family: SolomonSans-Book;
    font-size: 12px;
}
.eannovate-ads {
    padding: 30px 0;
}
.dnsub-title {
    font-family: SolomonSans-Bold;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}
.dnews-subscribe {
    padding: 30px 0;
}
.dnsub-input {
    width: 300px;
    max-width: 100%;
    border-radius: 0;
    border: solid 2px #000000 !important;
    margin: 0 auto;
    height: 40px;
    box-shadow: none !important;
    outline: none !important;
}
.dnsub-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family : SolomonSans-BookItalic;
    color: #d4d4d4;
    
}
.dnsub-input::-moz-placeholder { /* Firefox 19+ */
    font-family : SolomonSans-BookItalic;
    color: #d4d4d4;
}
.dnsub-input:-ms-input-placeholder { /* IE 10+ */
    font-family : SolomonSans-BookItalic;
    color: #d4d4d4;
}
.dnsub-input:-moz-placeholder { /* Firefox 18- */
    font-family : SolomonSans-BookItalic;
    color: #d4d4d4;
}
.section-related-work {
    padding: 30px 0;
}
.rnwork-head {
    padding: 0 15px;
    font-family: SolomonSans-Black;
    text-align: center;
    color: #000000;
    font-size: 35px;
    margin-bottom: 30px;
}
.section-related-news {
    padding: 30px 0;
}
.rnews-head {
    padding: 0 15px;
    font-family: SolomonSans-Black;
    text-align: center;
    color: #000000;
    font-size: 35px;
    margin-bottom: 30px;
}
.row-rnwork {
    display: table;
    width: 100%;
}
.col-rnwork {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 0 15px;
    margin-bottom: 30px;
}
.rnwork-image {
    display: block;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 60%;
}
.rnwork-image:hover {
    opacity: 0.8;
}
.rnwork-content {
    padding: 15px;
}
.rnwork-category {
    font-family: SolomonSans-Book;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.rnwork-title {
    display: inline-block;
    font-family: SolomonSans-Black;
    margin-bottom: 5px;
    font-size: 30px;
    text-transform: uppercase;
    color: #333333;
    line-height: 100%;
}
.rnwork-desc {
    font-family: SolomonSans-Book;
    margin-bottom: 10px;
    font-size: 15px;
}
.rnwork-link {
    text-align: right;
}
.rnwork-link a {
    font-family: SolomonSans-Book;
    color: #333333;
    font-size: 14px;
    text-transform: uppercase;
}
.rnwork-link hr {
    border-top: solid 2px #23b78e;
    width: 30px;
    display: block;
    margin: 2px 0 0 0 !important;
    float: right;
}
.rnwork-link span {
    display: block;
}
.rnwork-link > a:hover,.rnwork-link > a:focus,.rnwork-link > a:active {
    color: #23b78e;
}
.rnwork-title:hover,.rnwork-title:focus,.rnwork-title:active {
    color: #23b78e;
}
.rnwork-wrap {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
}
.rnews-wrap{
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
}
.row-rnews {
    display: table;
    width: 100%;
}
.col-rnews {
    display: inline-block;
    width: 50%;
    padding: 0 15px;
    margin-bottom: 30px;
}
.rnews-bg {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 55%;
    box-shadow: inset 0px -60px 150px 30px rgba(0,0,0,0.6);
}
.rnews-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
}
.rnews-title {
    color: #FFFFFF;
    font-family: SolomonSans-SemiBold;
    font-size: 15px;
    margin-bottom: 3px;
}
.rnews-desc {
    color: #FFFFFF;
    font-family: SolomonSans-Book;
    font-size: 14px;
}
.rnews-read {
    font-family: SolomonSans-Book;
    color: #23b78e;
}
.rnews-read:hover,.sn-read:focus,.sn-read:active{
    color: #23b78e;
    text-decoration:underline !important;
}
.rnews-category {
    color: #FFFFFF;
    font-family: SolomonSans-Book;
    font-size: 13px;
    text-align: right;
}
@media(max-width: 767px){
    .header-dntitle {
        font-size: 25px;
        margin: 0 auto 10px auto;
    }
    .header-dncontent {
        padding: 0 15px;
        display: block;
    }
    .header-dncategory {
        font-size: 13px;
        margin-bottom: 10px;
    }
    .header-dnwriter {
        font-size: 13px;
    }
    .header-dnposition {
        min-height: auto !important;
        display: block;
        padding: 100px 0;
    }
    .dnews-back {
        padding: 30px 15px;
    }
    .dnews-back > a {
        font-size: 16px;
    }
    .dnews-back > a > img {
        height: 16px;
    }
    .dnews-desc {
        font-size: 13px;
        margin-bottom: 30px;
    }
    .dnews-image {
        margin-bottom: 20px;
    }
    .eads-row {
        display: block;
        padding: 15px 0;
    }
    .eads-col-img {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .eads-col-img > a {
        display: inline-block;
    }
    .eads-col-img > a > img {
        width: 200px;
        max-width: 100%;
    }
    .eads-col {
        display: block;
        text-align: center;
        width: 100%;
    }
    .eads-border {
        padding: 0 15px;
    }
    .rnwork-head {
        font-size: 25px;
    }
    .col-rnwork {
        display: block;
        width: 100%;
    }
    .col-rnews {
        display: block;
        width: 100%;
    }
    .section-related-news {
        padding: 0 0 30px 0;
    }
    .section-related-work {
        padding: 30px 0 0 0;
    }
    .row-rnwork {
        display: block;
    }
    .row-rnews {
        display: block;
    }
}