.img-news-bg {
  margin-bottom: 25px;
}

.product-wrap {
  margin-top: 60px;
}

.background-enews{

  height: 470px;
  background-size: 200% 100%;
  background-repeat: no-repeat;
}

.row.img-news-bg >.col-xs-7 {
    width: 54.333333%;
}
.row.img-news-bg >	.col-xs-5 {
    width: 45.666667%;
}

.margin-enews {
    margin-top: 65px;
    padding: 0px 22px;
}
.category-enews {
    background-color: #35c39f;
    padding: 5px 5px 5px 13px;
    font-weight: bolder;
    margin: 0 53px 0 0;
}

.tittle-enews {
    color: white;
    font-size: 24px;
    font-weight: bolder;
    margin-top: 15px;
}

.name-date-enews {
    margin-top: 15px;
    color: #35c39f;
}

.text-enews {
    margin-top: 40px;
    color: #9a9a9a;
}

.text-right.fa-bot-right {
    font-size: 39px;
    position: absolute;
    bottom: 0px;
    right: 15px;
}

.text-right.fa-bot-right > a{
  color: #35c39f;

}


ul#category-enews-list li {
    margin-top: 6px;
    font-size: 17px;
    list-style: none;
}

  ul#category-enews-list li > a {
    color: #6b6b6b;
  }

  ul#category-enews-list  {
      margin: 0;
      padding: 0 0;
  }
  ul#category-enews-list > .active > a {
      color:  #35c39f;
  }

  .enews-list-head {
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 12px;
}


.img-hot-news {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 55%;
    margin-top: 20px;
}

.warp-hot-enews{
      margin-bottom: 60px;
}


.col-xs-12.button-see-more {
    margin: 40px 0 120px 0;
    text-align: center;
}
@media(max-width: 992px){
  .row.img-news-bg >.col-xs-7 {
      width: 100%;
  }
  .row.img-news-bg >	.col-xs-5 {
      width: 100%;
  }

  .background-enews{

    background-size: 100% 100%;
    height: 350px;

  }

  .col-xs-7.background-enews {
    height: 220px;
  }

  .container.container-ids {
    margin-top: 20px;
  }

  .col-xs-12.button-see-more {
    margin: 10px 0 40px 0;
  }

  .margin-enews {
      margin-top: 15px;
  }

  .text-enews {
    margin-top: 20px;

  }

  .product-wrap {
  margin-top: 0px;
}
}

.brand-list {
  border-top: solid 1px #ccc;
  padding: 30px 0;
}
