.header-work {
    background-color: #000000;
}
.header-wposition {
    display: table;
    width: 100%;
    min-height: 100vh;
}
.header-wcontent {
    display: table-cell;
    width: 100%;
    padding: 30px 15px;
    vertical-align: middle;
}
.header-wnote {
    font-family: SolomonSans-Light;
    color: #FFFFFF;
    font-size: 14px;
}
.header-wtext {
    font-family: SolomonSans-Black;
    color: #FFFFFF;
    font-size: 40px;
    width: 767px;
    max-width: 100%;
    line-height: 120%;
}
.header-wborder {
    width: 300px;
    max-width: 100%;
    border-top: solid 3px #23b78e;
    margin: 20px 0 0 0;
}
.section-solution {
    padding: 30px 0;
}
.solution-head {
    font-family: SolomonSans-Black;
    color: #000000;
    font-size: 30px;
    text-align: center;
    padding: 30px 15px;
}
.row-solution {
    display: table;
    width: 100%;
}
.col-solution {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin-bottom: 30px;
    padding: 0 15px;
}
.solution-wrap {
    background-color: #000000;
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
    min-height: 260px;
    position: relative;
    padding: 20px 20px 50px 20px;
}
.row-tsol {
    display: table;
    width: 100%;
    margin-bottom: 20px;
}
.col-tsol-left {
    display: inline-block;
    width: 75%;
    vertical-align: top;
}
.col-tsol-right {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    text-align: right;
}
.solution-icon > img {
    height: 45px;
    max-width: 100%;
}
.solution-title {
    font-family: SolomonSans-Black;
    color: #22b78e;
    font-size: 28px;
    line-height: 120%;
}
.solution-desc {
    font-family: SolomonSans-BOOK;
    color: #e0e0e0;
    font-size: 14px;
}
.solution-arrow {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.solution-link {
    display: inline-block;
}
.solution-link:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.solution-link > img {
    width: 25px;
}
.solution-title:hover,.solution-title:focus,.solution-title:active {
    color: #ffffff;
}
.container-solution {
    width: 991px;
    max-width: 100%;
    margin: 0 auto;
}
@media(max-width: 991px){
    .solution-title{
        font-size: 25px;
    }
    .solution-desc{
        font-size: 13px;
    }
}
@media(max-width: 767px){
    .header-wnote {
        font-size: 13px;
    }
    .header-wtext {
        font-size: 30px;
        width: 500px;
        max-width: 100%;
    }
    .header-wborder {
        width: 200px;
        max-width: 100%;
    }
    .row-solution {
        display: block;
    }
    .col-solution {
        display: block;
        width: 100%;
    }
    .solution-title {
        font-size: 23px;
    }
    .solution-head {
        font-size: 25px;
        padding: 0 15px 30px 15px;
    }
}
@media(max-width: 500px){
    .header-wtext {
        width: auto;
        font-size: 22px;
    }
}