.header-work {
    background-color: #000000;
}
.header-wposition {
    display: table;
    width: 100%;
    min-height: 100vh;
}
.header-wcontent {
    display: table-cell;
    width: 100%;
    padding: 30px 15px;
    vertical-align: middle;
}
.header-wnote {
    font-family: SolomonSans-Light;
    color: #FFFFFF;
    font-size: 14px;
}
.header-wtext {
    font-family: SolomonSans-Black;
    color: #FFFFFF;
    font-size: 40px;
    width: 767px;
    max-width: 100%;
    line-height: 120%;
}
.header-wborder {
    width: 300px;
    max-width: 100%;
    border-top: solid 3px #23b78e;
    margin: 20px 0 0 0;
}
.section-work {
    padding: 30px 0;
}
.work-filter {
    padding: 30px 0;
}
.work-filter ul {
    display: table;
    margin: 0;
    width: 100%;
    text-align: center;
}
.work-filter li {
    display: inline-block;
    padding: 0 15px;
    border-right: solid 2px #ddd;
}
.work-filter li:last-child {
    border: 0 !important;
}
.wfilter-link {
    font-family: SolomonSans-Book;
    color: #333;
    padding: 3px 0;
}
.wfilter-active {
    border-bottom: solid 2px #23b78e;
}
.wfilter-link:hover,.wfilter-link:focus,.wfilter-link:active {
    border-bottom: solid 2px #23b78e;
}
.row-work {
    display: table;
    width: 100%;
}
.col-work {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 0 15px;
    margin-bottom: 30px;
}
.work-image {
    display: block;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 60%;
}
.work-image:hover {
    opacity: 0.8;
}
.work-list {
    padding: 30px 0 0 0;
}
.work-content {
    padding: 15px;
}
.work-category {
    font-family: SolomonSans-Book;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.work-title {
    display: inline-block;
    font-family: SolomonSans-Black;
    margin-bottom: 5px;
    font-size: 30px;
    text-transform: uppercase;
    color: #333333;
    line-height: 100%;
}
.work-desc {
    font-family: SolomonSans-Book;
    margin-bottom: 10px;
    font-size: 15px;
}
.work-link {
    text-align: right;
}
.work-link a {
    font-family: SolomonSans-Book;
    color: #333333;
    font-size: 14px;
    text-transform: uppercase;
}
.work-link hr {
    border-top: solid 2px #23b78e;
    width: 30px;
    display: block;
    margin: 2px 0 0 0 !important;
    float: right;
}
.work-link span {
    display: block;
}
.work-link > a:hover,.work-link > a:focus,.work-link > a:active {
    color: #23b78e;
}
.work-title:hover,.work-title:focus,.work-title:active {
    color: #23b78e;
}
.work-wrap {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
}
.btn-more {
    text-transform: uppercase;
    font-family: SolomonSans-Book;
    color: #212c41;
    display: inline-block;
    border: solid 2px #212c41;
    padding: 8px 55px;
    font-size: 15px;
}
.work-more {
    padding: 20px 15px;
    text-align: center;
}
.btn-more:hover,.btn-more:focus,.btn-more:active {
    color: #ffffff;
    background-color: #212c41;
}
@media(max-width: 767px){
    .row-work {
        display: block;
    }
    .col-work {
        display: block;
        width: 500px;
        max-width: 100%;
        margin: 0 auto 30px auto;
    }
    .header-wnote {
        font-size: 13px;
    }
    .header-wtext {
        font-size: 30px;
        width: 500px;
        max-width: 100%;
    }
    .header-wborder {
        width: 200px;
        max-width: 100%;
    }
    .work-filter {
        padding: 10px 0;
    }
    .wfilter-link {
        font-size: 14px;
    }
}
@media(max-width: 500px){
    .header-wtext {
        width: auto;
        font-size: 22px;
    }
}